*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10rem 0;
    padding: 3rem;
    /* background-image: url('..images/bg2.png'); */
    /* background: #000000 0% 0% no-repeat padding-box; */
    /* height: 30rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg2.png);
    height:80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-wrapper {
    width: 650px;
    height: 695px;
    background: #141414 0% 0% no-repeat padding-box;
    margin-top: -5rem;
    padding: 6rem 8rem 8rem 8rem;
}
.contact-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 6rem;
}

.text {
    font: normal normal bold 68px/44px Noe Display;
    color: #E3902B;
    margin-bottom: 4rem;
    text-align: left;
    font-size: 55px;
}

.more-details {
    color: #FFFFFF;
    font: normal normal normal 22px/33px General Sans;
    text-align: left;
    max-width: 500px;
    font-size: 16px;
}

.sub-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.input-details{
    background: #504E4E 0% 0% no-repeat padding-box;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    padding-left: 1rem;
}

.text-area{
    height: 200px;
    background: #504E4E 0% 0% no-repeat padding-box;
    margin-top: 20px;
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
}

.sub{
width: 24.6rem;
padding: 1rem 3rem;
text-align: center;
background-color: #E3902B;
font: normal normal bold 32px/41px Noe Display;
margin-top: 30px;
font-size: 20px;
}
@media(max-width:770px){
    .contact{
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 60vh;
        /* border-width: 1px;    */
    }
    .form-wrapper {
        position: absolute;
        z-index: 2;
        width: 100%;
        height:60vh;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 0rem;
    }
    
    .contact-wrapper {
        position: relative;
        z-index: 3;
        padding-left: 1rem;
    }
    .text{
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .more-details{
        padding-left: 60px;
        line-height: 1.5;
        font-size: 18px;
        width: 90vw;
        /* left: 10rem; */

    }
    .input-details{
        width: 80vw;
        height: 40px;
    }
    .text-area{
        width: 80vw;
        height: 70px;
        margin-top: 20px;
        padding-left: 1rem;
    }
    .sub{
        font-size: 13px;
        width: 13rem;
        height:7vh;
        padding: 0;
    }
    .sub-container{
        margin-top: 3rem;
    }
}

@media(max-width:400px){
    .contact{
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 60vh;
        /* border-width: 1px; */
    }
    .form-wrapper {
        position: absolute;
        z-index: 2;
        width: 100%;
        height:60vh;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 0rem;
    }
    
    .contact-wrapper {
        position: relative;
        z-index: 3;
        padding-left: 1rem;
    }
    .text{
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .more-details{
        line-height: 1.5;
        font-size: 15px;
        width: 85vw;

    }
    .input-details{
        width: 95vw;
        height: 40px;
    }
    .text-area{
        width: 95vw;
        height: 70px;
        margin-top: 20px;
        padding-left: 1rem;
    }
    .sub{
        font-size: 13px;
        width: 13rem;
        height:7vh;
        padding: 0;
    }
    .sub-container{
        margin-top: 3rem;
    }
}

