.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
   /* background-color: aqua;*/
}

.featureslist {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    /* width: 50%; */
}

.featuresCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 0.5px solid #E3902B29; */
    width: 380px;
    height: 100px;
    /* border-radius:10px; */
    /*opacity: 0.33;*/
    /* background: transparent linear-gradient(260deg, #000000 0%, #312D2D 44%, #0C0B0B 100%) 0% 0% no-repeat padding-box; */
    padding-right: 3rem;
    background-color: rgb(17, 17, 17);
}

.features-text {
    font-family: sans-serif;
    text-align: left;
    color: #E3902B;
    font-weight: 500;
    /* font: normal normal 600 20px/27px General Sans; */
}

.colored__text{
    color: #E3902B;
}

.icon {
    margin-right: 10px;
    margin-left: 20px;
    background: #E3902B 0% 0% no-repeat padding-box;
    font-size:20px;
}

.firstImage {
    position:absolute;
    margin: -18rem 0 0 63rem;
    width: 30rem;
}

.bottomCard {
    background: #E28F2A 0% 0% no-repeat padding-box;
    width: 100%;
    height: auto;
    position: relative;
    padding: 2% 0;
}

.mobile-bottom__ad{
    width: 20rem;
    position: absolute;
    margin: -19rem 0 0 -2.5rem;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.icon-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: #0A0909 0% 0% no-repeat padding-box;
    width: 176px;
    height: 52px;
    margin-top: -1.5rem;
}


.text1 {
    /* font: normal normal bold 47px/63px General Sans; */
    color: #101010;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 38px;
}

.text2 {
    text-align: center;
    color: #000000;
    font: normal normal medium 22px/29px General Sans;
}

.text-wrapper{
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-wrapper p{
    color:#FFD39E;
}

.icon-style {
width: 26px;
height: 25px;
}




