*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
   /* background-color: aqua;*/
}

.featureslist {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    /* width: 50%; */
}

.featuresCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 0.5px solid #E3902B29; */
    width: 380px;
    height: 100px;
    /* border-radius:10px; */
    /*opacity: 0.33;*/
    /* background: transparent linear-gradient(260deg, #000000 0%, #312D2D 44%, #0C0B0B 100%) 0% 0% no-repeat padding-box; */
    padding-right: 3rem;
    background-color: rgb(17, 17, 17);
}

.features-text {
    font-family: sans-serif;
    text-align: left;
    color: #E3902B;
    font-weight: 500;
    /* font: normal normal 600 20px/27px General Sans; */
}

.colored__text{
    color: #E3902B;
}

.icon {
    margin-right: 10px;
    margin-left: 20px;
    background: #E3902B 0% 0% no-repeat padding-box;
    font-size:20px;
}

.firstImage {
    position:absolute;
    margin: -18rem 0 0 63rem;
    width: 30rem;
}

.bottomCard {
    background: #E28F2A 0% 0% no-repeat padding-box;
    width: 100%;
    height: auto;
    position: relative;
    padding: 2% 0;
}

.mobile-bottom__ad{
    width: 20rem;
    position: absolute;
    margin: -19rem 0 0 -2.5rem;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.icon-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: #0A0909 0% 0% no-repeat padding-box;
    width: 176px;
    height: 52px;
    margin-top: -1.5rem;
}


.text1 {
    /* font: normal normal bold 47px/63px General Sans; */
    color: #101010;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 38px;
}

.text2 {
    text-align: center;
    color: #000000;
    font: normal normal medium 22px/29px General Sans;
}

.text-wrapper{
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-wrapper p{
    color:#FFD39E;
}

.icon-style {
width: 26px;    
height: 25px;
}
@media(max-width:770px){
    .featureslist{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    .ti{
        width: 100%;
    }
    .ti h1 {
        padding-left:10px ;
        text-align: left;
        font-size: 23px;
    }
    .featuresCard {
        width: 100%;
        height: 80px;
        background: transparent linear-gradient(115deg, #171616b4 0%, #10101000 100%) 0% 0% no-repeat padding-box;

    }
    .features{
        position: relative;
    }
    .firstImage{
        position: absolute;
        z-index: -1;
        right: -1rem;
        width: 12rem;
        top: 11rem;
        filter: brightness(30%);
    }
    .featureslist{
        position: relative;
    z-index: 1;
    }
    .mobile-bottom__ad {
        position: absolute;
        bottom: 4rem;
        filter: brightness(40%);
        /* left: %; */
        width: 12rem;
        /* transform: translateX(-50%); */
        z-index: -1;
    }
    .bottomCard{
        margin-top: 3.5rem;
    }
    .text1{
        font-size: 25px;
    }
    .text2{
        font-size: 15px;
    }
    .text-wrapper p{
        font-size: 13px;
    }
}

@media(max-width:400px){
    .featureslist{
        display: flex;
        flex-direction: column;
    }
    .ti{
        width: 100%;
    }
    .ti h1 {
        padding-left:10px ;
        text-align: left;
        font-size: 23px;
    }
    .featuresCard {
        height: 80px;
  background: transparent linear-gradient(115deg, #171616b4 0%, #10101000 100%) 0% 0% no-repeat padding-box;

    }
    .features{
        position: relative;
    }
    .firstImage{
        position: absolute;
        z-index: -1;
        right: -1rem;
        width: 12rem;
        top: 11rem;
        filter: brightness(30%);
    }
    .featureslist{
        position: relative;
    z-index: 1;
    }
    .mobile-bottom__ad {
        position: absolute;
        bottom: 4rem;
        filter: brightness(40%);
        /* left: %; */
        width: 12rem;
        /* transform: translateX(-50%); */
        z-index: -1;
    }
    .bottomCard{
        margin-top: 3.5rem;
    }
    .text1{
        font-size: 20px;
    }
    .text2{
        font-size: 11px;
    }
    .text-wrapper p{
        font-size: 13px;
    }
}




