
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .footer {
    display: flex;
    /* justify-content:  */
    padding-bottom: 7rem;
}

.text-container {
text-align: left;
font: normal normal medium 20px/40px General Sans;
letter-spacing: 0.3px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
margin-left: 40px;
}

.footer-details{
    margin-top: 10px;
}

.subtext-container{
    margin-left: 40px;
    text-align: left;
    font: normal normal medium 20px/40px General Sans;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1; 
    justify-content:space-between;
}

ul{
    list-style: none;
    font-size: 14px;
}

.icons-row{
    margin-left: 40rem;
}

.icon-row__container{
    display: flex;
}

.icons-style{
    color:white;
    margin-right: 2rem;
    font-size:25px;
}
@media(max-width:770px){
    .footer{
        display: flex;
        flex-direction: column;
        height: 45vh;
    }
    .icons-row{
        margin-left: 6rem;
        margin-top: 4rem;
    }
    .icons-style{
        font-size: 23px;

    }
    .text-container{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .subtext-container{
    margin-left: 1rem;
    }
}

@media(max-width:400px){
    .footer{
        display: flex;
        flex-direction: column;
        height: 45vh;
    }
    .icons-row{
        margin-left: 6rem;
        margin-top: 4rem;
    }
    .icons-style{
        font-size: 23px;

    }
    .text-container{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .subtext-container{
    margin-left: 1rem;
    }
}
