.input {
    width: 50rem;
    height: 4rem;
    background: #161616;
    padding-left: 4rem;
}

.subscribe-button {
padding: 0.5rem 3.5rem;
text-align: center;
background-color: #E3902B;
font: normal normal bold 32px/41px Noe Display;
margin-top: 30px;
font-size: 25px;
}

.button-wrapper {
display: flex;
justify-content: center;
align-items: center;
}

.colored__text{
    color: #E3902B;
}