*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.input {
    width: 50rem;
    height: 4rem;
    background: #161616;
    padding-left: 4rem;
}

.subscribe-button {
padding: 0.5rem 3.5rem;
text-align: center;
background-color: #E3902B;
font: normal normal bold 32px/41px Noe Display;
margin-top: 30px;
font-size: 25px;
}

.button-wrapper {
display: flex;
justify-content: center;
align-items: center;
}

.colored__text{
    color: #E3902B;
}
.mt-10{
    height: 40vh;
}

@media(max-width:770px){
    .mt-10 h1{
        font-size: 25px;
    }
    .mt-10 p{
        text-align: center;
        font-size: 14px;
    }
    .mt-10{
        text-align: center;
    }
    .input{
        width: 23rem;
        height: 3rem;
    }
    .input::placeholder{
        padding-left: 6rem;
    }
    .subscribe-button{
        font-size: 18px;
        /* padding: 1rem; */
    }
}

@media(max-width:400px){
    .mt-10 h1{
        font-size: 25px;
    }
    .mt-10 p{
        text-align: center;
        font-size: 14px;
    }
    .mt-10{
        text-align: center;
    }
    .input{
        width: 23rem;
        height: 3rem;
    }
    .input::placeholder{
        padding-left: 6rem;
    }
    .subscribe-button{
        font-size: 18px;
        /* padding: 1rem; */
    }
}
