*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.team-wrapper {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    gap: 3rem;
   
}

.team-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2.5rem;
    column-gap: 2.5rem;
    width: 50%;
}

.team-text {
    width: 50%;
    margin-top: 7rem;
}

.details{
    color: #FFD39E;
    text-align: left;
    margin-top: 80px;
    padding: 10px;
    font: normal normal medium 29px/39px General Sans;
    font-size: 19px;
    margin-top: 7rem;
}



/* card details */
.team__member__solo__container{
    position: relative;
}

.social__media__icon,
.social__media__icon2,
.social__media__icon3,
.social__media__icon4,
.social__media__icon5,
.social__media__icon6,
.social__media__icon7,
.social__media__icon8{
    width: 3rem;
    height: 3rem;
    background-color: #E3902B;
    position: absolute;
}

.social__media__icon{
    margin: 2% 0 0 19.7%;
}

.social__media__icon2{
    margin: 6% 0 0 19.7%;
}

.social__media__icon3{
    margin: 2% 0 0 43.7%;
}

.social__media__icon4{
    margin: 6% 0 0 43.7%;
}

.social__media__icon5{
    margin: 26% 0 0 19.7%;
}

.social__media__icon6{
    margin: 30% 0 0 19.7%;
}

.social__media__icon7{
    margin: 26% 0 0 43.7%;
}

.social__media__icon8{
    margin: 30% 0 0 43.7%;
}



.card__container{
    font-family: sans-serif;
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin: 71% 0 0 -3.9%;
}

.card{
    height: fit-content;
    width: 13rem;
    background-color: #1d1d1d;
    padding: 0.5rem .7rem;
    line-height: 2rem;
    margin-left: 0.7rem;
}

.card h1{
    font-size: 13px;
    color: white;
    font-weight: 600;
}

.card h2{
    font-size: 13px;
    color: #E3902B;
}

.card__holder{
    background-color: #7c4f18;
    width: 15rem;
    height: 100%;
    transform: rotate(45deg) translate(-1.7rem, 4.62rem);
}

.card__holder__container{
    width: .8rem;
    height: .8rem;
    background-color: transparent;
    overflow: hidden;
    margin-left: 10px;
}

.layer {
	background: transparent;
	height: 85%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* border-radius: 12px; */
	transition: all .40s;
}

.layer:hover {
	/* background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919); */
    background-color: black;
}

/* .layer h3 {
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
} */

/* .layer:hover h3 {
	bottom: 52%;
	opacity: 1;

} */

.layer h5 {
	position: absolute;
	width: 100%;
	font-size: 17px;
	font-weight: 500;
	color: white;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}

.layer:hover h5 {
	bottom: 18%;
    /* vertical-align: middle; */
	opacity: 1;
}   
/* card details // */

@media (max-width: 770px) {
    .team-wrapper{
        /* height: 90vh; */
        /* border-width: 1px; */
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        padding: 0;
    }
    .team-text{
        margin: 1rem;
        width: 90%;
        /* height: 100vh; */
    }
    .team-text h1{
        line-height: 0;
        font-size: 25px;
        /* background-color: #E3902B; */
        height: 1vh;
    }
    .team-details{
        display: flex;
        flex-direction: column;
    }
    .details{
        margin-top: 20px;
        font-size: 15px;
        margin-left: -9px;
        /* background-color: #E3902B   ; */
    }
    .team__member__solo__container{
        display: flex;
        /* width: 80%; */
    }
    .card{
        width: 30rem;
        /* border-radius: 20px ; */
    }
    .card__container{
        top: -13.5rem;
        left: 10.5rem;
        width: 80%;
    }
    .team-image{
        margin-left: 15px;
        width: 35%;
    }
    .social__media__icon,
.social__media__icon2,
.social__media__icon3,
.social__media__icon4,
.social__media__icon5,
.social__media__icon6,
.social__media__icon7,
.social__media__icon8{
    display: none;
}
  }

  @media(max-width:400px){
    .team-wrapper{
        /* height: 90vh; */
        /* border-width: 1px; */
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        padding: 0;
    }
    .team-text{
        margin: 1rem;
        width: 90%;
        /* height: 100vh; */
    }
    .team-text h1{
        line-height: 0;
        font-size: 25px;
        /* background-color: #E3902B; */
        height: 1vh;
    }
    .team-details{
        display: flex;
        flex-direction: column;
    }
    .details{
        margin-top: 20px;
        font-size: 10px;
        margin-left: -9px;
        /* background-color: #E3902B   ; */
    }
    .team__member__solo__container{
        display: flex;
    }
    .card__container{
        top: -8.5rem;
        left: 8rem;
    }
    .team-image{
        margin-left: 15px;
        width: 50%;
    }
    .social__media__icon,
.social__media__icon2,
.social__media__icon3,
.social__media__icon4,
.social__media__icon5,
.social__media__icon6,
.social__media__icon7,
.social__media__icon8{
    display: none;
}
}
