*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body{
  overflow-x: hidden;
  background: #000;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width:50%;
  height: 10vh;
  margin-left: 23%;
  z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
  }
  nav.active{
  opacity: 1;
  background: transparent linear-gradient(97deg, #605a5a66 0%, #6464643a 49%, #6a6a6a0d 100%) 0% 0% no-repeat padding-box;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  }
  nav ul{
  display: flex;
  }
  
  nav ul li a{
    font-family: calibri;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color:white;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
  }
  nav ul li a:hover{
    color: #E3902B;
  transition: all ease 0.2s;
  }
  nav .menu-btn,
  .menu-icon{
    display:none;
  }
  .logo{
    width: 49px;
    height: 49px;
  }

  .logo1{
    display: none;
    margin-top: 18px;
    width: 45px;
    height: 30px;
  }
@media(max-width:1100px){.menu-icon{
  display:block;}
      nav{
        margin-left: -0px;
          justify-content: space-between;
          width: 100%;
          height: 65px;
          padding: 0px 30px;
          /* border-width: 1px; */
      }
      .logo{
        display: none;
        position: absolute;
      }
      .logo1{
        display: block;

      }
      .header-btns{
          margin: 0;
      }
      .menu{
          display:none;
          position:absolute;
          top:65px;
          left:0px;
          background-color:black;
          width:100%;
          padding:0px;
          margin:0px;
      }
      .menu li{
          width:100%;
      }
      nav .menu li a{
          width:100%;
          height:40px;
          justify-content: center;
          align-items: center;
          margin:0px;
          padding: 25px;
          border:1px solid rgba(38,38,38,0.03);
          color: white;
      }
      nav .menu-icon{
          cursor:pointer;
          float:right;
          padding:28px 20px;
          position:relative;
          user-select: none;
      }
      nav .menu-icon .nav-icon{
          background-color:#E3902B;
          display:block;
          height:2px;
          position:relative;
          transition: 0.2s ease-out;
          width:18px;
      }
      nav .menu-icon .nav-icon:before,
      nav .menu-icon .nav-icon:after{
          background:#E3902B;
          content:'';
          display:block;
          height:100%;
          position:absolute;
          transition:all ease-out 0.2s;
          width:100%;
      }
      nav .menu-icon .nav-icon:before{
          top:5px;
      }
      nav .menu-icon .nav-icon:after{
          top:-5px;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon{
          background:transparent;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
          transform: rotate(-45deg);
          top:0;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
          transform: rotate(45deg);
          top:0;
      }
      nav .menu-btn{
          display:none;
      }
      nav .menu-btn:checked ~ .menu{
          display:block;
      }}

      @media(max-width:770px){.menu-icon{
        display:block;}
            nav{
              margin-left: -0px;
                justify-content: space-between;
                width: 100%;
                height: 65px;
                padding: 0px 30px;
                /* background-color: #E3902B; */
                /* border-width: 1px; */
            }
            .logo{
              display: none;
              position: absolute;
            }
            .logo1{
              display: block;
      
            }
            .header-btns{
                margin: 0;
            }
            .menu{
                display:none;
                position:absolute;
                top:65px;
                left:0px;
                background-color:black;
                width:100%;
                padding:0px;
                margin:0px;
            }
            .menu li{
                width:100%;
            }
            nav .menu li a{
                width:100%;
                height:40px;
                justify-content: center;
                align-items: center;
                margin:0px;
                padding: 25px;
                border:1px solid rgba(38,38,38,0.03);
                color: white;
            }
            nav .menu-icon{
                cursor:pointer;
                float:right;
                padding:28px 20px;
                position:relative;
                user-select: none;
            }
            nav .menu-icon .nav-icon{
                background-color:#E3902B;
                display:block;
                height:2px;
                position:relative;
                transition: 0.2s ease-out;
                width:18px;
            }
            nav .menu-icon .nav-icon:before,
            nav .menu-icon .nav-icon:after{
                background:#E3902B;
                content:'';
                display:block;
                height:100%;
                position:absolute;
                transition:all ease-out 0.2s;
                width:100%;
            }
            nav .menu-icon .nav-icon:before{
                top:5px;
            }
            nav .menu-icon .nav-icon:after{
                top:-5px;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon{
                background:transparent;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
                transform: rotate(-45deg);
                top:0;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
                transform: rotate(45deg);
                top:0;
            }
            nav .menu-btn{
                display:none;
            }
            nav .menu-btn:checked ~ .menu{
                display:block;
            }}
      
      
      @media(max-width:400px){
          .s-box{
              width: 100%;
              height:400px;
          }
      }
  /* @media(max-width:400px){
    nav{
      width: 95%;
    }
  } */


.heroSection{
  background: url(./images/hero2.png) 0% 0% no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.socials{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  position: absolute;
  right: 5rem;
  top: 2rem;
}

.socials p{
  color: #fff;
  font-size: 1.4rem;
}

.heroSideBox{
  background: transparent linear-gradient(115deg, #FFFFFF66 0%, #FFFFFF0D 100%) 0% 0% no-repeat padding-box;
    border: 2px solid #60606026;
    opacity: 1;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    width: 333px;
      height: 165px;
      border-radius: 5px;
      position: relative;
      top: 12rem;
      left: -5rem;
}


.title{
  display: flex;
  align-items: center;
}

.play{
  background: transparent linear-gradient(135deg, #FFFFFF66 0%, #FFFFFF0D 100%) 0% 0% no-repeat padding-box;
    border: 2px solid #60606026;
    border-radius: 39px;
    opacity: 1;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    width: 54px;
      height: 54px;
}

.play p{
      position:relative;
      top: 17px;
        left: 18px;
}

.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heroRightText{
  position: relative;
  top: 22rem;
  left: 5rem;
}

.heroRightText h2{
  color: #FFD39E;
  font-size: 50px;
  line-height: 43px;
  /* font: normal normal bold 61px/70px Noe Display; */
}

.heroRightText span{
  color: #e3902b;
}

.heroRightText p{
  color: #ffffff;
  font: normal normal medium 28px/38px General Sans;
  opacity: 1;
}


.mobileIcons{
  display: flex;
}

.mobileIcons img{
  width: 25%;
  height: 2.3rem;
  margin: 3rem 2.5rem 0 0;
  border-radius: 5px;
}

.scrollDownImage{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  animation: bounce 2s infinite 2s ease-in-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

@media(max-width:770px){
  
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .heroSideBox{
    top:7rem;
    margin-left: 155px;
  }
  .title h3{
    font-size: 15px;
    margin-left: 20px;
  }
  .heroRightText{
    top: 12rem;
    /* margin-top: 1em !important ; */
    left: -0rem;
  }
  .heroRightText h2{
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  .heroRightText p{
    text-align: center;
    margin-right: 100px;
    width: 100%;
    font-size: 14px;
  }
  .socials{
    display: none;
  }
  .mobileIcons{
    width: 100%;
    margin-left: 50px;
  }
  .mobileIcons img{
    margin: 2rem 1rem 0 0;
    width: 35%;
  }
  .scrollDownImage{
    width: 4rem;
    height: 4rem;
    left: 43%;
    bottom: 3rem;
  }
}

  @media(max-width:400px){
    .wrapper{
      display: flex;
      flex-direction: column;
    }
    .heroSideBox{
      top:7rem;
      margin-left: 155px;
    }
    .title h3{
      font-size: 15px;
      margin-left: 20px;
    }
    .heroRightText{
      top: 12rem;
      /* margin-top: 1em !important ; */
      left: -0rem;
    }
    .heroRightText h2{
      font-size: 28px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 20px;
    }
    .heroRightText p{
      text-align: center;
      margin-right: 100px;
      width: 100%;
      font-size: 14px;
    }
    .socials{
      display: none;
    }
    .mobileIcons{
      width: 100%;
      margin-left: 50px;
    }
    .mobileIcons img{
      margin: 2rem 1rem 0 0;
      width: 35%;
    }
    .scrollDownImage{
      width: 4rem;
      height: 4rem;
      left: 43%;
      bottom: 3rem;
    }

  }

  

/* ABOUT US SECTION STARTS */
.aboutus{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  background: #000;
}

.aboutus img{
  height: 100vh;
}

.about-us{
  width: 100%;
}
.about-us h1{
  position: relative;
  left: -4rem;
  color: #E3902B;
  font: normal normal bold 6.5rem/237px Noe Display;
}
.about-us p{
  font: normal normal medium 29px/39px General Sans;
  text-align: left;
  padding: 2rem;
  color: #FFD39E;
}
/* ABOUT SECTION ENDS */
@media(max-width:770px){
  .about-us p{
    width: 76vw;
    height: 50vh;
    position: relative;
    padding: 0;
    font-size: 17px;
    left: 5rem;
    line-height: 1.5;
  }
  .about-us h1{
    margin-top: 10px;
    padding-bottom: 40px;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    width: 120vw;
    
  }
  .about-us{
    height:55vh;
    z-index: 200;
    position: absolute;
  background: transparent linear-gradient(115deg, #000000 0%, #000000c1 100%) 0% 0% no-repeat padding-box;
    
  }
  .help{
    /* text-align: center; */
    margin-top: 100px;
  }
  .aboutus{
    padding: 0;
  }
  .aboutus img{
    height: 55vh;
  width: 100vw;
  /* z-index: 100; */
  }
}

@media(max-width:400px){
  .about-us p{
    width: 76vw;
    height: 50vh;
    position: relative;
    padding: 0;
    font-size: 70%;
    left: 2rem;
    line-height: 1.5;
  }
  .about-us h1{
    margin-top: 10px;
    padding-bottom: 40px;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    width: 120vw;
    
  }
  .about-us{
    height:55vh;
    z-index: 200;
    position: absolute;
  background: transparent linear-gradient(115deg, #000000 0%, #000000c1 100%) 0% 0% no-repeat padding-box;
    
  }
  .help{
    margin-top: 100px;
  }
  .aboutus{
    padding: 0;
  }
  .aboutus img{
    height: 55vh;
  width: 100vw;
  /* z-index: 100; */
  }
}


/* WHAT WE DO SECTION STARTS */
.whatwedo{
  background: #000;
  color: #ffffff;
  padding: 3.5rem;
}
.whatwedo h2{
  font: normal normal bold 76px/97px Noe Display;
}
.whatwedo h2 span{
  font: normal normal bold 76px/97px Noe Display;
  letter-spacing: 0px;
  color: #E3902B;
}

.what-we-do-contents h3{
    text-align: left;
    font: normal normal 600 85px/115px General Sans;
    letter-spacing: 0px;
    color: #FFD39E;
    opacity: 1;
}

.what-we-do-contents{
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  position: relative;
}
.what-we-do-contents .first-content h3{
  position: relative;
  z-index: 1 !important;
  left: 5rem;
  font: normal normal 600 55px/115px sans-serif;
  white-space: nowrap;
  line-height: 5rem;
}
.what-we-do-contents .first-content p{
  font: normal normal medium 22px/39px General Sans;
  text-align: left;
  color: #FFD39E;
  width: 23rem;
  letter-spacing: 0.7px;
}

.what-we-do-contents .second-content img {
  position: relative;
  left: -12rem;
  width: 100%;
}
.what-we-do-contents .second-content p {
  position: relative;
  left: 4rem;
  top: -5rem;
  font: normal normal 600 40px/115px sans-serif;
  line-height: 3.5rem;
  letter-spacing: 0px;
  color: #FFD39E;
}
.what-we-do-contents .third-content img {
  width: 100%;
  filter: grayscale(100%);
}
/* WHAT WE DO SECTION ENDS */
@media(max-width:770px){
  .whatwedo{
    height: 80vh;
    border-top:1px solid white;
    border-bottom: 1px solid white;
    /* border-width: 0.5px; */
    padding: 0;
  }
  .whatwedo h2{
    /* text-align: center; */
    margin-left: 40px;
    font-size:25px ;
  }
  .whatwedo h2 span{
    font-size:30px ;
  }
  .what-we-do-contents .first-content h3{
    left: -2rem;
    font-size: 25px;
    line-height: 1.5;
  }
  .first-content{
    position: absolute;
  }
  .what-we-do-contents .first-content p{
    left: -2rem;
    z-index: 2 ;
    position: relative;
    font-size: 17px;
    top: 3rem;
    width: 80vw;
  }
  .what-we-do-contents .second-content p{
    font-size: 25px;
    line-height: 1.3;
    top: 5rem;
    left: 25rem;
    width: 50%;
  background: transparent linear-gradient(115deg, #000000 0%, #000000c1 100%) 0% 0% no-repeat padding-box;

  }
  .second{
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  .what-we-do-contents .second-content img{
    top: 2rem;
     left: 3rem;
     filter: brightness(50%);
    
  }
  .what-we-do-contents .third-content img{
    height: 21vh;
    left: -10rem;
    filter: brightness(50%);
  }
  .third-content{
    width: 95%;
  }
}

@media(max-width:400px){
  .whatwedo{
    height: 80vh;
    border-top:1px solid white;
    border-bottom: 1px solid white;
    /* border-width: 0.5px; */
    padding: 0;
  }
  .whatwedo h2{
    margin-left: 8px;
    font-size:25px ;
  }
  .whatwedo h2 span{
    font-size:30px ;
  }
  .what-we-do-contents .first-content h3{
    left: -0rem;
    font-size: 20px;
    line-height: 1.5;
  }
  .first-content{
    position: absolute;
  }
  .what-we-do-contents .first-content p{
    z-index: 2 ;
    position: relative;
    font-size: 12.2px;
    top: 4rem;
  }
  .what-we-do-contents .second-content p{
    font-size: 17px;
    line-height: 1.3;
    top: 12rem;
    left: 14rem;
    width: 50%;
  background: transparent linear-gradient(115deg, #000000 0%, #000000c1 100%) 0% 0% no-repeat padding-box;

  }
  .second{
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  .what-we-do-contents .second-content img{
    top: 2rem;
     left: 3rem;
     filter: brightness(50%);
    
  }
  .what-we-do-contents .third-content img{
    height: 21vh;
    left: -10rem;
    filter: brightness(50%);
  }
  .third-content{
    width: 95%;
  }
}

/* ONE STOP SECTION STARTS */
.one-stop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.one-stop-content-1 h2{
  font: normal normal bold 45px/109px sans-serif;
  white-space: nowrap;
  color: #FFD39E;
  line-height: 1rem;
}
.one-stop-content-1 h2 span{
  color: #E3902B;
  font: normal normal bold 45px/109px Noe Display;
}
.one-stop-content-1 p{
  color: #FFD39E;
}

.icon-wrapper{
  display: flex;
  align-items: center;
}
.play-store-icon{
  background: transparent linear-gradient(135deg, #FFFFFF66 0%, #FFFFFF0D 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.play-store-icon img{
  width: 50%;
  height: 50%;
}

.apple-store-icon{
  background: transparent linear-gradient(135deg, #FFFFFF66 0%, #FFFFFF0D 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.apple-store-icon img{
  width: 50%;
  height: 50%;
}
/* ONE STOP SECTION  ENDS */
@media(max-width:770px){
  .one-stop{
    display: flex;
    flex-direction: column;
    height: 60vh;
    /* border-width: 1px; */
    position: relative;
  }
  .one-stop-content-1 h2{
    font-size: 27px;
    margin-left: -2rem;
    
  }
  .one-stop-content-1 h2 span{
    font-size: 27px;
    line-height: 2;
  }
  .one-stop-content-1 p{
    margin-left: -2rem;
    font-size: 20px;
  }
  .one-stop-content-1{
    top: 4rem;
    position: relative;
    z-index: 2;
  }
  .one-stop-content-2{
    left: 18rem;
    top: 9rem;
    position: absolute;
    z-index: 1;
  }
  .one-stop-content-2 img{
    width: 100%;
    height: 30vh;
  }
  .icon-wrapper{
    margin-left: -2rem;
  }
  .apple-store-icon{
    width: 44px;
    height: 44px;
  }
  .play-store-icon{
    width: 44px;
    height: 44px;
  }
}

@media(max-width:400px){
  .one-stop{
    display: flex;
    flex-direction: column;
    height: 60vh;
    /* border-width: 1px; */
    position: relative;
  }
  .one-stop-content-1 h2{
    font-size: 27px;
    margin-left: -2rem;
    
  }
  .one-stop-content-1 h2 span{
    font-size: 27px;
    line-height: 2;
  }
  .one-stop-content-1 p{
    margin-left: -2rem;
    font-size: 12px;
  }
  .one-stop-content-1{
    top: 4rem;
    position: relative;
    z-index: 2;
  }
  .one-stop-content-2{
    left: 6rem;
    top: 9rem;
    position: absolute;
    z-index: 1;
  }
  .one-stop-content-2 img{
    width: 90%;
    height: 30vh;
  }
  .icon-wrapper{
    margin-left: -2rem;
  }
  .apple-store-icon{
    width: 44px;
    height: 44px;
  }
  .play-store-icon{
    width: 44px;
    height: 44px;
  }
}